* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --soft-blue:#F9FDFE;
  --light-blue: #CAF0F8;
  --blue: #0077B6;
  --dark-blue: #03045E;
}

/* Typography */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-blue);
  background-size: cover;
  height: 95vh;
}

p,
a,
li,
button {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

a {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--dark-blue);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--dark-blue);
  text-transform: uppercase;
}

h4 {
  font-size: 2.1rem;
  font-weight: 300;
  color: var(--dark-blue);
}

h5 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--dark-blue);
  z-index: 1;
}

h6 {
  font-size: 2.1rem;
  font-weight: 300;
  color: var(--dark-blue);
  text-align: right;
  padding: 30px;
}

/* NavBar */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar .hello {
  display: flex;
  flex-direction: column;
  background-color: #0077B6;
  height: 100vh;
  width: 75vw;;
  position: fixed;
  margin-top: 7.5vh

}

.navbar ul {
  display: flex;
  flex-direction: row;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: var(--blue);
  color: #fff;
  bottom: 0;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  z-index: 1;
}

.icon-footer-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5vh 0.5vw;
}

.icon-foot {
  padding: 0.5vh 0.5vw;
  font-size: 2rem;
}

.title-icon {
  padding: 0.2vh 0.5vw;
  font-size: 0.7rem;
  color: white;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  justify-content: center;
}

.greed-home {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.trebol-home {
  width: 40vw;
}

.bts-section-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

button.bt-home {
  width: 30vw;
  height: 12.5vw;
  font-size: 1.3rem;
  border: none;
  margin: 2vh 5vw;
}

.selected {
  color: red !important;
}

.sub-bt {
  margin: 5vh auto;
  width: 5vw;
  height: 2.5vh;
}

.padding2x2 { 
  padding: 2vh 2vw;
}

/* Profile page */

.user-profile img {
  width: 40vw;
  border-radius: 25px;
}


/* Styles Border */

.radius25px {
  border-radius: 25px;
}

.radius15px {
  border-radius: 15px;
}


/* Styles width sections */

.padding2h5w {
  padding: 2vh 5vw;
}

.padding2h1w {
  padding: 2vh 1vw;
}

/* Styles buttons  */

.bt-back {
  width: 12.5vw;
}

.bk-blue {
  background-color: var(--blue);
}

.bk-blue a{
  color:white;
  font-size: 1rem;
}

.bk-white {
  background-color: white;
}

.bk-white a {
  color: var(--blue);
  font-size: 1rem;
}

.bk-darkblue {
  background-color: var(--dark-blue);
}



/* Icon Styles */


