* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --soft-blue:#F9FDFE;
  --light-blue: #CAF0F8;
  --blue: #0077B6;
  --dark-blue: #03045E;
}

/* Typography */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--soft-blue);
  color: var(--dark-blue);
  background-size: cover;
  height: 95vh;
}

p,
a,
li,
button {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

a {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--dark-blue);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--dark-blue);
  text-transform: uppercase;
}

h4 {
  font-size: 2.1rem;
  font-weight: 300;
  color: var(--dark-blue);
}

h5 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--dark-blue);
  z-index: 1;
}

h6 {
  font-size: 2.1rem;
  font-weight: 300;
  color: var(--dark-blue);
  text-align: right;
  padding: 30px;
}

/* NavBar */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar .hello {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue); 
  height: 100vh;
  width: 75vw;;
  position: fixed;
  margin-top: 7.5vh
}

.navbar .bt-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.navbar .profile-pict-menu {
  width: 50vw;
}

.navbar .icon-nav {
  color: var(--dark-blue);
}

.navbar .icon-nav-top {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.icon-navbar-sect {
  text-align: left;
  display: flex;
  align-items: center;
}

.hello .title-icon-nav {
  color: var(--dark-blue);
}

.hello .title-icon-nav {
  margin-left: 4vw ;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--blue);
  color: #fff;
  bottom: 0;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  z-index: 1;
}

.icon-footer-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5vh 0.5vw;
}

.icon-foot {
  padding: 0.5vh 0.5vw;
  font-size: 2rem;
}

.title-icon {
  padding: 0.2vh 0.5vw;
  font-size: 0.7rem;
  color: white;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--light-blue); 
  justify-content: space-evenly;
}

.greed-home {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.trebol-home {
  width: 40vw;
}

.bts-section-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}

button.bt-home {
  width: 30vw;
  height: 12.5vw;
  font-size: 1.3rem;
  border: none;
  margin: 2vh 5vw;
}

.selected {
  color: red !important;
}

.sub-bt {
  margin: 5vh auto;
  width: 5vw;
  height: 2.5vh;
}

.padding2x2 { 
  padding: 2vh 2vw;
}

/* Profile page */

.user-profile img {
  width: 40vw;
  border-radius: 25px;
}

/* Styles Border */

.radius25px {
  border-radius: 25px;
}

.radius15px {
  border-radius: 15px;
}

/*Display flex styles */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


/* Styles width sections */

.padding2h5w {
  padding: 2vh 5vw;
}
.padding8h5w {
  padding: 8vh 5vw;
}

.padding1h5w {
  padding: 1vh 5vw;
}
.padding2h1w {
  padding: 2vh 1vw;
}

/* Styles buttons  */

.bt-back {
  width: 12.5vw;
}

.bk-blue {
  background-color: var(--blue);
}

.bk-blue a{
  color:white;
  font-size: 1rem;
}

.bk-white {
  background-color: white;
}

.bk-white a {
  color: var(--blue);
  font-size: 1rem;
}

.bk-darkblue {
  background-color: var(--dark-blue);
}

.bt-submit {
  width: 50vw;
  background-color: var(--blue);
  height: 5vh;
  margin: 4vh auto;
  color:white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.bt-delete {
  width: 30vw;
  background-color: var(--blue);
  height: 5vh;
  margin: 4vh auto;
  color:white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

}
/* Icon Styles */

/* Login Page*/

.title-page {
  padding: 4vh 0 2vh;
}

.background-top-login {
  height: 15vh;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/ishan-seefromthesky-rj8fMHNPXbg-unsplash.jpg');
}

.background-top-signup{
  height: 15vh;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/tim-foster-Sf23azHZRR4-unsplash.jpg');
} 

.login-form {
  display: flex;
  flex-direction: column;
  padding: 5vh 0vw 15vh;
}

.login-form label {
  padding: 1vh 0;
}

.login-form input {
  height: 5vh;
  padding: 1vh 2vw;
  margin: 0.5vh 0vw;
}

.title-icon-subm{
  font-size: 1.2rem;
  padding: 1vh 2vw;
}

/* Edit profile*/

.profile-top {
  display: flex;
  flex-direction: row;
}

.delete-user p {
  text-align: center;
}

/* NewBet page*/

.bet-form {
  display: flex;
  flex-direction: column;
  padding: 5vh 0vw 15vh;
}

.bet-form label {
  padding: 2vh 0;
}

.bet-form input {
  height: 5vh;
  width: 15vw;
  padding: 2vh 2vw;
  margin: 0.5vh 0vw;
}

.bet-form input.date-picker {
  height: 5vh;
  width: 35vw;
  padding: 1vh 2vw;
  margin: 0.5vh 0vw;
}

.data-bet, .select-numbers, .reintegro-num {
  margin-bottom: 2vh;
}

span.note {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--blue);
}

.background-top-bet {
  height: 15vh;
  background-position: center;
  background-size: cover;
  background-image: url('../src/img/hugo-verber-sLcCWpahOog-unsplash.jpg');
}

/* Bet Card page*/

.card {
  border: 1px solid;
  border-radius: 25px;
  margin-bottom: 2.5vh;
  z-index:1
}

.bet-card {
  display: flex;
  flex-direction: row;
  width: 90vw;
  padding: 2vh 2vw;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

.bet-card img {
  width: 18vw;
}

span.data-bet {
  font-size: 1.1rem;
  font-weight: 600;
}

span.date-bet {
  font-size: 0.9rem;
  font-weight: 600;
}

.info-bet {
  width: 62.5vw;
  margin: 0 auto;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
p.info-bet  {
  font-size: 0.7rem;
}

p.date-bet {
  text-align: center;
  padding-bottom: 1vh;
}

p.reint-bet {
  padding-left: 1vw;
}

.reint-num {
  padding-left: 2vw;
}

img.icon-svg {
  width: 5vw;
}

.combination-bet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons-bet{
  color: var(--blue); 
}

.bottom-card-opt {
  background-color: #0077B6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 99;
  border: 0px solid;
  padding: 0.5vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.7rem;
  color: white;
}

.filter-bet {
  background-color: var(--light-blue);
  justify-content: space-evenly;
  margin: 2vh auto;
}

.filter-bet h2 {
  font-size: 1.5rem;
}


/* Bet details page*/

.bet-details-view {
  padding-bottom: 15vh;
}